
@{
    ViewBag.Title = "Sample Application Jenkins";
}
<style>
    .logo {
    background-image: url(../../Images/jenkins.svg);
    background-repeat: no-repeat;
    height: 130px;
}

    h1 {
    font-size: 24px;
    line-height: normal;
}
</style>
<h2>Sample Application Jenkins</h2>

<div class="logo"></div>
<h1>Welcome to Jenkins!</h1>